body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  max-width: 100%;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

.btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  height: 42px;
  padding: 6px 17px 5px 16px;

  border: 1px solid #bbf330;
  border-radius: 30px;
  background-color: #bbf330;
  cursor: pointer;
}

.input {
  height: 42px;
  border: 1px solid #ffe550;
  border-radius: 30px;
  padding: 12px 11px;
}

input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
