body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-txt-cl);
  max-width: 100%;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
  
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mq(mob) {
      width: 480px;
  }

  @include mq(tab) {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
  }

  @include mq(desk){
      width: 1280px;
      padding-left: 16px;
      padding-right: 16px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

.btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  height: 42px;
  padding: 6px 17px 5px 16px;

  border: 1px solid var(--accent-txt-cl);
  border-radius: 30px;
  background-color: var(--accent-txt-cl);
  cursor: pointer;
}

.input {
  height: 42px;
  border: 1px solid var(--yellow-btn-bg-hover-cl);
  border-radius: 30px;
  padding: 12px 11px;
}

.input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: var(--placeholder-txt-cl);

  padding: 12px 11px;
}