%section {
  padding-top: 100px;
  padding-bottom: 100px;
}

%container {
  outline: 2px solid red;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mq(mob) {
      width: 480px;
  }

  @include mq(tab) {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
  }

  @include mq(desk){
      width: 1280px;
      padding-left: 16px;
      padding-right: 16px;
  }
}

%section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

%btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  height: 42px;
  padding: 6px 17px 5px 16px;

  border: 1px solid #bbf330;
  border-radius: 30px;
  background-color: #bbf330;
  cursor: pointer;
}

%input {
  height: 42px;
  border: 1px solid #ffe550;
  border-radius: 30px;
  padding: 12px 11px;
}

%input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
