:root {
  /* Text colors */
  --main-txt-cl: #2c2c2c;
  --btn-order-now-text-cl: #000000;
  --accent-txt-cl: #bbf330;
  --link-txt-cl: #7eb101;
  --light-txt-cl: #696969;
  --dark-txt-cl: #000000;
  --placeholder-txt-cl: #505050;
  --error-txt-cl: #ff705d;

  /* BG colors */
  --green-btn-bg-cl: #bbf330;
  --green-btn-bg-hover-cl: #b5ff00;
  --border-btn-cl: #7eb101;
  --border-btn-hover-cl: #ffffff;
  --yellow-btn-bg-hover-cl: #ffe550;
  --icon-bg-color: #7eb101;

  --grey-bg-cl: rgba(217, 217, 217, 0.27);
  --yellow-bg-cl: #ffe550;
  --white-bg-cl: #fefefe;
  --btn-white-bg-cl: #ffffff;
  --header-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  --footer-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  --shadow-fruit-cl: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );

  --border-btn-default: #ffe550;
  --border-bth-success: #7eb101;
  --border-bth-error: #ff705d;

  /* arrows */
  --arrow-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  --arrow-bg-cl: #2c2c2c;
  --arrow-bg-hover-cl: #7eb101;

  /* circle-border */
  --border-yellow-cl: #ffe550;
  --border-green-cl: #bbf330;

  /* Others*/

  /* animation */
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
