<section class="favorites section" id="favorites">
  <div class="container favorites__container">
    <h2 class="section__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list list">
      <li class="favorites__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_001_desk@1x.png  1x,
              ./images/favorites/img_001_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_001_desk@1x.png 1x,
              ./images/favorites/img_001_desk@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_001_tab@1x.webp 1x,
              ./images/favorites/img_001_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_001_tab@1x.png 1x,
              ./images/favorites/img_001_tab@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img_001_mob@1x.webp 1x,
              ./images/favorites/img_001_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img_001_mob@1x.png 1x,
              ./images/favorites/img_001_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/favorites/img_001_mob@1x.png"
            alt="gallery"
            width="315"
            height="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_002_desk@1x.webp 1x,
              ./images/favorites/img_002_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_002_desk@1x.png 1x,
              ./images/favorites/img_002_desk@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_002_tab@1x.webp 1x,
              ./images/favorites/img_002_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_002_tab@1x.png 1x,
              ./images/favorites/img_002_tab@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img_002_mob@1x.webp 1x,
              ./images/favorites/img_002_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img_002_mob@1x.png 1x,
              ./images/favorites/img_002_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/favorites/img_002_mob@1x.png"
            alt="gallery"
            width="315"
            height="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_003_desk@1x.webp 1x,
              ./images/favorites/img_003_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_003_desk@1x.png 1x,
              ./images/favorites/img_003_desk@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_003_tab@1x.webp 1x,
              ./images/favorites/img_003_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_003_tab@1x.png 1x,
              ./images/favorites/img_003_tab@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img_003_mob@1x.webp 1x,
              ./images/favorites/img_003_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img_003_mob@1x.png 1x,
              ./images/favorites/img_003_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/favorites/img_003_mob@1x.png"
            alt="gallery"
            width="315"
            height="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_004_desk@1x.webp 1x,
              ./images/favorites/img_004_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_004_desk@1x.png 1x,
              ./images/favorites/img_004_desk@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_004_tab@1x.webp 1x,
              ./images/favorites/img_004_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_004_tab@1x.png 1x,
              ./images/favorites/img_004_tab@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/favorites/img_004_tab@1x.png"
            alt="gallery"
            width="315"
            height="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_005_desk@1x.webp 1x,
              ./images/favorites/img_005_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_005_desk@1x.png 1x,
              ./images/favorites/img_005_desk@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_005_tab@1x.webp 1x,
              ./images/favorites/img_005_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_005_tab@1x.png 1x,
              ./images/favorites/img_005_tab@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/favorites/img_005_tab@1x.png"
            alt="gallery"
            width="315"
            height="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_006_desk@1x.webp 1x,
              ./images/favorites/img_006_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img_006_desk@1x.png 1x,
              ./images/favorites/img_006_desk@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_006_tab@1x.webp 1x,
              ./images/favorites/img_006_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img_006_tab@1x.png 1x,
              ./images/favorites/img_006_tab@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/favorites/img_006_tab@1x.png"
            alt="gallery"
            width="315"
            height="315"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
