<footer class="footer">
  <div class="footer__container container">
    <div class="footer__block">
      <div class="footer__menu">
        <a class="footer__link" href="./index.html">
          <svg class="footer__logo" width="71" height="52">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__item-link current" href="/src/index.html">Home</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="#offerings">About</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="#favorites">Service</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="#customers-say">Menu</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="#subscribe">Contact</a>
          </li>
        </ul>
      </div>

      <form class="footer__subscribe-form">
        <h3 class="footer__subscribe-text">Subscribe</h3>

        <label class="footer__subscribe-label">
          <input
            class="footer__subscribe-input"
            type="email"
            name="subscribe-name"
            placeholder="Enter your email"
            required
          />
          <span class="footer__subscribe-warning">
            <svg class="footer__subscribe-icon" width="11" height="11">
              <use href="./images/symbol-defs.svg#icon-frame"></use>
            </svg>
            Not a valid email address (example@email.com)
          </span>
          <button class="footer__button btn" type="submit">Subscribe</button>
        </label>
        <p class="footer__desc">
          By subscribing you agree to with our
          <a class="footer__desc-link" href="">Privacy Policy</a>
        </p>
      </form>
    </div>

    <div class="footer__flex">
      <ul class="footer__flex-list">
        <li class="footer__flex-item">
          <a class="fotter-flex-link" href="">Privacy Policy</a>
        </li>
        <li class="footer__flex-item">
          <a class="fotter-flex-link" href="">Terms of Service</a>
        </li>
        <li class="footer__flex-item">
          <a class="fotter-flex-link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer__flex-text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
