<footer class="footer">
  <div class="footer__container container">
    <a class="footer__link" href="./index.html">
      <svg class="footer__logo" width="71" height="52">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="footer__list">
      <li class="footer__item">Home</li>
      <li class="footer__item">About</li>
      <li class="footer__item">Service</li>
      <li class="footer__item">Menu</li>
      <li class="footer__item">Contact</li>
    </ul>
    <p class="footer__subscribe-text">Subscribe</p>
    <form class="footer__subscribe-form">
      <label class="footer__subscribe-label">
        <input
          type="email"
          name="subscribe-name"
          placeholder="Enter your email"
        />
      </label>
    </form>
    <button type="button">Subscribe</button>
    <p>By subscribing you agree to with our <span>Privacy Policy</span></p>
  </div>
  <div>
    <ul>
      <li>Privacy Policy</li>
      <li>Terms of Service</li>
      <li>Cookies Settings</li>
    </ul>
    <p>2022 FoodSta. All right reserved.</p>
  </div>
</footer>
