<footer class="footer">
  <div class="footer__container container">
    <a class="footer__link" href="./index.html">
      <svg class="footer__logo" width="71" height="52">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="footer__list">
      <li class="footer__item">Home</li>
      <li class="footer__item">About</li>
      <li class="footer__item">Service</li>
      <li class="footer__item">Menu</li>
      <li class="footer__item">Contact</li>
    </ul>
  </div>
</footer>
