<header class="header">
  <div class="header__container">
    <a class="header__link" href="./index.html">
      <svg class="header__logo" width="66" height="52">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__item-link current" href="/src/index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#offerings">Offerings</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#favorites">Favorites</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#subscribe">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="nav__btn" data-modal-open type="button">Order Now</button>

    <button class="hamburger hamburger--squeeze" data-menu-button aria-expanded="false">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="mob-menu" data-menu>
      <ul>
        <li class="mob-menu__item">
          <a class="mob-menu__link mob-menu__link--first" href="/src/index.html">Home</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link" href="#offerings">Offerings</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link" href="#favorites">Favorites</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link" href="#reviews">Reviews</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link mob-menu__link--last" href="#subscribe">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>