<section class="hero">
  <div class="hero__container">
    <div class="hero__left-side">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero__btn" data-modal-open type="button">Order Now</button>
    </div>
    <div class="slider" id="slider1">
      <button type="button" class="slider__btn slider__btn--prev">
        <svg width="100%" height="100%">
          <use
            class="slider__icon-prev"
            href="./images/symbol-defs.svg#icon-left"
          ></use>
        </svg>
      </button>
      <button type="button" class="slider__btn slider__btn--next">
        <svg width="100%" height="100%">
          <use
            class="slider__icon-next"
            href="./images/symbol-defs.svg#icon-right"
          ></use>
        </svg>
      </button>
      <div class="slider__box">
        <div class="slider__list">
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/hero/img_desk_001@1x.webp 1x,
                  ./images/hero/img_desk_001@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero/img_desk_001@1x.png 1x,
                  ./images/hero/img_desk_001@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero/img_tab_001@1x.webp 1x,
                  ./images/hero/img_tab_001@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/hero/img_tab_001@1x.png 1x,
                  ./images/hero/img_tab_001@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />

              <img
                class="slider__img"
                src="./images/hero/img_desk_001@1x.png"
                alt="falafel with herbs"
                style="width: 100%"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/hero/img_desk-002@1x.webp 1x,
                  ./images/hero/img_desk-002@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero/img_desk-002@1x.png 1x,
                  ./images/hero/img_desk-002@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero/img_tab_002@1x.webp 1x,
                  ./images/hero/img_tab_002@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/hero/img_tab_002@1x.png 1x,
                  ./images/hero/img_tab_002@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <img
                class="slider__img"
                src="./images/hero/img_desk-002@1x.png"
                alt="falafel with herbs"
                style="width: 100%"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/hero/img_desk_003@1x.webp 1x,
                  ./images/hero/img_desk_003@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero/img_desk_003@1x.png 1x,
                  ./images/hero/img_desk_003@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero/img_tab_003@1x.webp 1x,
                  ./images/hero/img_tab_003@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/hero/img_tab_003@1x.png 1x,
                  ./images/hero/img_tab_003@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />

              <img
                class="slider__img"
                src="./images/hero/img_desk_003@1x.png"
                alt="falafel with herbs"
                style="width: 100%"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/slider.js"></script>
</section>
