<section class="subscribe section">
  <div class="container">
    <div class="subscribe__wrapper">
      <h2 class="subscribe__title section__title">
        Subscribe To Get Special Offers
      </h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="subscribe__form">
        <input
          class="subscribe__input input"
          type="email"
          placeholder="Enter your email"
          name="subscribe__input"
        />
        <button class="subscribe__btn btn" type="submit">
          <span class="subscribe__btn-text">Subscribe</span>
        </button>
      </form>
    </div>
    <!-- <img
      class="subscribe__img"
      src="./banan.png"
      alt="жовтий банан"
      max-width="546"
    /> -->
  </div>
</section>
