.customers {
	margin-left: auto;
	margin-right: auto;

	background-repeat: no-repeat;
	background-size: contain;


	@include mq(mob-only) {
		padding-top: 60px;

		width: 320px;

		// height: 771px;
		height: 900px;

		background-image: url(../images/bg_mob_customers.svg);
	}

	@include mq(tab-only) {
		padding-top: 58px;

		width: 768px;

		height: 554px;
		background-image: url(../images/bg_tab_customers.svg);
	}

	@include mq(desk) {
		max-width: 1280px;
		height: 654px;
		background-image: url(../images/bg_desk_customers.svg);
	}

	&__container {
		@include mq(mob-only) {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include mq(tab-only) {
			padding-left: 32px;
			padding-right: 32px;
		}
	}

	&__title {
		font-size: 42px;
		line-height: 1.17;
		margin-bottom: 20px;

		@include mq(mob-only) {
			font-size: 28px;
			line-height: 1.18;
		}
	}

	&__discription {
		line-height: 1.19;

		margin-bottom: 32px;

		@include mq(mob-only) {
			font-size: 14px;
			line-height: 1.14;

			margin-bottom: 32px;
		}

		@include mq(tab) {
			margin-bottom: 48px;
		}

		@include mq(desk) {
			margin-bottom: 26px;
		}
	}

	&__list {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		@include mq(mob-only) {
			gap: 24px;
		}

		@include mq(tab-only) {
			gap: 32px;
		}

		@include mq(desk) {
			gap: 139px;
		}
	}

	&__item {
		display: block;
		padding: 14px;
		background: #fefefe;

		border-top-right-radius: 29px;
		border-bottom-right-radius: 29px;
		border-bottom-left-radius: 29px;

		@include mq(mob-only) {
			padding: 8px;
			width: 280px;
		}

		@include mq(tab-only) {
			padding: 14px;
			width: 336px;
		}

		@include mq(desk) {
			width: 501px;
		}
	}

	&__rating {
		display: inline-flex;
		width: 90px;
		height: 16px;

		margin-bottom: 28px;

		background-image: url(../images/star.svg);

		background-size: contain;
	}

	&__comments {
		font-weight: 700;
		font-size: 18px;
		line-height: 1.17;

		margin-bottom: 40px;

		@include mq(mob-only) {
			font-size: 16px;
			line-height: 1.19;
		}
	}

	&__data {
		display: flex;
		gap: 16px;
	}

	&__wrap {
		width: 94px;

		border-right: 1px solid #7eb101;
	}

	&__name {
		font-weight: 600;
		font-size: 13.6667px;
		line-height: 1.5;
	}

	&__status {
		font-weight: 400;
		font-size: 13.6667px;
		line-height: 1.5;
	}
}