.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.footer__container {
  display: flex;
}

.footer__link {
  margin-right: 81px;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}
