.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--white-bg-cl);
  box-shadow: var(--footer-shadow);

  background-repeat: no-repeat;
  background-size: auto;

  @include mq(mob-only) {
    background-image: url(../images/footer/ap-or_mob@1x.png),
      url(../images/footer/apple@1x.png), url(../images/footer/orange@1x.png);
    @include mq(retina) {
      background-image: url(../images/footer/ap-or_mob@2x.png),
        url(../images/footer/apple@2x.png), url(../images/footer/orange@2x.png);
    }
    background-position: bottom center, top 132px left, top right;
  }
  @include mq(tab) {
    background-image: url(../images/footer/orange-tab@1x.png),
      url(../images/footer/footer-tab@1x.png);
    @include mq(retina) {
      background-image: url(../images/footer/orange-tab@2x.png),
        url(../images/footer/footer-tab@2x.png);
    }
    background-position: top right, bottom center;
    background-size: auto contain;
  }
  @include mq(desk) {
    background-image: url(../images/footer/footer-desk@1x.png);
    @include mq(retina) {
      background-image: url(../images/footer/footer-desk@2x.png);
    }
    background-position: bottom center;
    background-size: contain;
  }
}
.footer__container {
  @extend %container;
}
.footer__block {
  margin-bottom: 60px;
  @include mq(tab) {
    margin-bottom: 100px;
  }
  @include mq(desk) {
    display: flex;
    margin-bottom: 80px;
  }
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  @include mq(mob-only) {
    margin-bottom: 40px;
  }
  @include mq(tab) {
    margin-bottom: 40px;
  }
  @include mq(desk) {
    flex-wrap: nowrap;
  }
}

.footer__list {
  margin-left: 81px;
  @include mq(tab) {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 114px;
  }
  @include mq(desk) {
    margin-top: 18px;
    margin-left: 145px;
    margin-right: 270px;
    align-items: flex-start;
  }
}

.footer__item-link {
  font-size: 14px;
  line-height: 1.14;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--green-btn-bg-cl);
    text-decoration: underline;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
  @include mq(tab) {
    margin-bottom: 0;
  }
}

.footer__subscribe {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @include mq(mob-only) {
    flex-direction: column;
  }
  @include mq(tab) {
    flex-direction: column;
  }
}

.footer__subscribe-form {
  position: relative;
  margin-bottom: 12px;

  @include mq(tab) {
    display: flex;
  }
  @include mq(tab) {
  }
}

.footer__subscribe-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.footer__subscribe-label {
  @include mq(tab) {
    min-width: 279px;
    margin-right: 12px;
  }
}

.footer__subscribe-input {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 30px;
  outline: transparent;

  &:valid {
    border: 0.854167px solid var(--border-btn-cl);
  }

  &:invalid {
    border: 0.854167px solid var(--error-txt-cl);
  }

  &:placeholder-shown {
    border: 0.854167px solid var(--yellow-btn-bg-hover-cl);
  }
}

.footer__subscribe-input:not(:placeholder-shown):focus:invalid:required
  ~ .footer__subscribe-warning {
  opacity: 1;
}

.footer__subscribe-warning {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 150%;
  color: var(--error-txt-cl);
  opacity: 0;

  transition: opacity 250ms linear;

  @include mq(tab) {
    top: 80px;
  }
}

.footer__subscribe-icon {
  margin-right: 4px;
}

.footer__button {
  @extend %btn;
  display: block;
  margin-left: auto;
  width: 102px;
  height: 42px;
  color: var(--main-txt-cl);

  border: 1px solid var(--border-bth-success);
  border-radius: 30px;
  padding: 11px;

  &:hover,
  &:focus {
    background-color: var(--yellow-btn-bg-hover-cl);
  }

  @include mq(tab) {
    margin-left: 0;
    margin-right: 100px;
  }
  @include mq(desk) {
    margin-right: 0;
  }
}

.footer__desc {
  font-size: 10px;
  line-height: calc(12 / 10);
  color: var(--main-txt-cl);
  @include mq(desk) {
  }
}

.footer__desc-link {
  color: var(--link-txt-cl);
  text-decoration: underline;
}

.footer__flex {
  display: flex;
  flex-direction: column;

  font-size: 10px;
  line-height: 1.2;
  @include mq(tab) {
    flex-direction: row;
    gap: 236px;
  }
  @include mq(tab) {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer__flex-list {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  margin-bottom: 40px;

  color: var(--border-btn-cl);

  @include mq(tab) {
    margin-bottom: 0;
  }
}

.footer__flex-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @include mq(desk) {
    margin-right: 0;
  }
}
