.header {
  background-color: var(--white-bg-cl);
  box-shadow: var(--header-shadow);
}

.header__container {
  @extend %container;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;

  position: relative;
}

.header__link {
  margin-left: 20px;
  margin-right: auto;
}

.header__logo {
  display: block;
}

.mobile-button {
  position: absolute;
  top: 22px;
  right: 20px;
  border-color: transparent;
  background-color: transparent;
  margin-left: auto;

  @include mq(tab) {
    display: none;
  }
}

.mobile-button__icon {
  display: block;
}

.nav {
  margin-left: auto;
  @include mq(mob-only) {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 28px;
  margin-right: 28px;
  @include mq(mob-only) {
    display: none;
  }
}

.nav__item-link {
  font-size: 14px;
  line-height: 1.14;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--green-btn-bg-cl);
    text-decoration: underline;
  }
}

.nav__btn {
  @extend %btn;
  text-align: right;
  height: 32px;
  margin-left: 28px;
  font-size: 14px;
  line-height: 1.5;

  @include mq(mob-only) {
    display: none;
  }

  transition: background-color 300ms ease-in;

  &:hover,
  &:focus {
    background-color: var(--green-btn-bg-hover-cl);
    animation-name: push;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  @keyframes push {
    50% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(1);
    }
  }
}

.current {
  color: var(--green-btn-bg-cl);
  text-decoration: underline;
}

.mob-menu {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 1;

  background-color: var(--white-bg-cl);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
  min-width: 130px;

  transform: translateY(-150%);
  opacity: 0;

  @include mq(tab) {
    display: none;
  }
}

.mob-menu.is-open {
  transform: translateY(0);
  opacity: 1;
}

.mob-menu__link {
  display: block;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  line-height: 1.19;
  color: var(--dark-txt-cl);

  &:hover,
  &:focus {
    background-color: var(--green-btn-bg-cl);
  }
}

.mob-menu__link--first {
  border-radius: 30px 0px 0px 0px;
}

.mob-menu__link--last {
  border-radius: 0px 0px 30px 30px;
}
