.hero {
  @extend %section;
  position: relative;
  @include mq(tab) {
    padding-top: 60px;
  }
  &__container {
    @extend %container;
    position: relative;
  }

  &__title {
    margin: 0;
    @include mq(mob-only) {
      max-width: 480px;
      margin: 0 0 28px 0;
      font-size: 28px;
      line-height: 1.18;
    }
    @include mq(tab) {
      max-width: 537px;
      margin-bottom: 44px;
      font-size: 42px;
      line-height: 120%;
    }
    @include mq(desk) {
      margin-top: 99px;
      margin-bottom: 28px;
      font-size: 48px;
      line-height: 1.2;
      max-width: 502px;
    }
  }
  &__text {
    @include mq(mob-only) {
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 28px;
      max-width: 480px;
    }
    @include mq(tab) {
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 40px;
      max-width: 336px;
    }
    @include mq(desk) {
      max-width: 502px;
    }
  }
  &__btn {
    @extend %btn;
    height: 32px;
    border-radius: 30px;
  }
  &__btn:hover,
  &__btn:focus {
    background-color: var(--green-btn-bg-hover-cl);
  }
}
// slider
.slider {
  outline: 1px solid navy;
  @include mq(mob-only) {
    display: none;
  }
  @include mq(tab) {
    position: absolute;
    max-width: 320px;
    max-height: 320px;
    margin: 0 auto;
    top: 89px;
    right: 32px;
  }
  @include mq(desk) {
    position: absolute;
    max-width: 580px;
    max-height: 580px;
    margin: 0 auto;
    top: -145px;
    right: 30px;
  }

  &__list {
    display: flex;
    transition: transform 0.3s ease-out;
  }
  &__box {
    overflow: hidden;
  }
  &__item {
    flex-shrink: 0;
    width: 100%;
    background-color: transparent;
  }
  &__img {
    border-radius: 50%;
    @include mq(tab) {
      border: 14px solid var(--border-yellow-cl);
    }
    @include mq(desk) {
      border: 26px solid var(--border-yellow-cl);
    }
  }
  &__btn {
    cursor: pointer;
    background: var(--white-bg-cl);
    box-shadow: var(--arrow-box-shadow);
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 146px;
    border: 0;
    fill: var(--arrow-bg-cl);

    &--prev {
      @include mq(tab) {
        width: 34px;
        height: 28px;
        left: -8px;
        padding: 3.83 13.36 3.83 9.14;
      }
      @include mq(desk) {
        top: 266px;
        left: -14px;
        width: 48px;
        height: 40px;
        padding: 5.47 18.53 5.47 13.06;
        border-radius: 8px;
      }
    }

    &--next {
      @include mq(tab) {
        left: 294px;
        width: 34px;
        height: 28px;
        padding: 3.83 9.14 3.83 13.36;
      }
      @include mq(desk) {
        top: 266px;
        left: 540px;
        width: 48px;
        height: 40px;
        padding: 5.47 13.06 5.47 18.53;
        border-radius: 8px;
      }
    }
    &--next:hover,
    &--next:focus,
    &--prev:hover,
    &--prev:focus {
      fill: var(--arrow-bg-hover-cl);
    }
    &--next:active,
    &--next:active {
      fill: var(--arrow-bg-cl);
    }
  }
}
.slider__icon-next {
  @include mq(tab) {
  }
  @include mq(desk) {
  }
}
