.offerings {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/svg/offering-mob.svg);

  @include mq(tab) {
    background-image: url(../images/svg/offering-tab.svg);
  }

  @include mq(desk) {
    background-image: url(../images/svg/offering-desk.svg);
    background-size: contain;
    background-position: center;
  }
}

.offerings__container {
  @extend %container;
  padding-top: 41px;
  padding-bottom: 60px;

  @include mq(tab) {
    padding-top: 150px;
    padding-bottom: 100px;
    margin-top: -108px;
  }

  @include mq(desk) {
    display: flex;
    padding-top: 177px;
    padding-bottom: 75px;
    margin-top: -161px;
  }
}

.offerings__img {
  display: block;

  @include mq(mob-only) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    width: 280px;
    height: 309px;
  }

  @include mq(tab) {
    margin-bottom: 60px;
    width: 704px;
    height: 394px;
  }

  @include mq(desk) {
    margin-right: 90px;
    margin-bottom: 0;
    width: 550px;
    height: 604px;
  }
}

.offerings__box {
  max-width: 573px;
}

.offerings__title {
  margin-bottom: 20px;

  @include mq(mob-only) {
    margin-bottom: 28px;
  }

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  @include mq(tab) {
    font-size: 42px;
  }

  @include mq(desk) {
    margin-top: 83px;
    line-height: 1.2;
  }
}

.offerings__text--main {
  margin-bottom: 40px;

  @include mq(mob-only) {
    font-size: 14px;
    line-height: 1.14;
  }

  @include mq(tab-only) {
    line-height: 1.19;
  }
}

.offerings__list {
  @include mq(tab) {
    margin-bottom: 40px;
    display: flex;
    gap: 67px;
  }

  @include mq(desk) {
    margin-bottom: 32px;
  }
}

.offerings__item {
  @include mq(mob-only) {
    margin-bottom: 28px;
  }
}

.offerings__item--deliv {
  &::before {
    content: '';
    margin-bottom: 10px;
    display: block;
    width: 48px;
    height: 48px;
    background-image: url('../images/offerings/deliv.svg');
  }
}

.offerings__item--order {
  &::before {
    content: '';
    margin-bottom: 10px;
    display: block;
    width: 48px;
    height: 48px;
    background-image: url('../images/offerings/order.svg');
  }
}

.offerings__subtitle {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;

  @include mq(desk) {
    font-size: 17px;
    line-height: 1.4;
  }
}

.offerings__text {
  font-size: 14px;
  line-height: 1.14;

  font-weight: 400;

  @include mq(desk) {
    line-height: 1.5;
  }
}

.offerings__btn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: var(--white-bg-cl);
  border: 2px solid var(--border-btn-cl);

  transition: background-color 300ms ease-in;

  &:hover,
  &:focus {
    border: 2px solid #597d00;
    transform: scale(1.2);
  }
}

.offerings__list--btn {
  display: flex;
  gap: 24px;
  align-items: center;
}

.offerings__link {
  display: flex;
  align-items: center;
  cursor: pointer;

  font-size: 14px;
  color: var(--dark-txt-cl);
}
