.offerings {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/svg/offering-mob.svg);
    
    @include mq(tab) {
        background-image: url(../images/svg/offering-tab.svg);
    }

    @include mq(desk){
        background-image: url(../images/svg/offering-desk.svg);
    }
}

.offerings__container {
    @include mq(tab){
        padding-top: 150px;
    }

    @include mq(desk) {
        display: flex;
    }
}

.offerings__img {
    @include mq(desk) {
        margin-right: 90px;
        margin-top: 177px;
        margin-bottom: 75px;
    }
}

.offerings__box {
    max-width: 573px;
}

.offerings__title {
    margin-bottom: 20px;
   
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;

    @include mq(desk) {
        margin-top: 260px;
    }
}

.offerings__text--main {
    margin-bottom: 40px;
}

.offerings__list {
    margin-bottom: 32px;

    display: flex;
    gap: 67px;
}

.offerings__subtitle {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 17.0833px;
    line-height: 1.4;
}

.offerings__item--deliv {
    &::before {
        content: "";
        margin-bottom: 10px;
        display: block;
        width: 48px;
        height: 48px;
        background-image: url('../images/offerings/deliv.svg');
    }
}

.offerings__item--order {
    &::before {
        content: "";
        margin-bottom: 10px;
        display: block;
        width: 48px;
        height: 48px;
        background-image: url('../images/offerings/order.svg');
    }
}

.offerings__text {
    font-size: 14px;
}

.offerings__btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    min-height: 40px;
    background: var(--white-bg-cl);
    border: 2px solid var(--border-btn-cl);
}