.customers {
  @extend %section;

  margin-bottom: -43px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  background-image: url(../images/svg/customer-mob.svg);

  @include mq(tab) {
    margin-bottom: -74px;
    padding-top: 60px;
    padding-bottom: 120px;
    background-image: url(../images/svg/customer-tab.svg);
  }

  @include mq(desk) {
    margin-bottom: -66px;
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url(../images/svg/customer-desk.svg);
    background-size: 1280px;
  }
}

.customers__container {
  @extend %container;
  @include mq(mob-only) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq(tab-only) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.customers__title {
  font-size: 42px;
  line-height: 1.17;
  margin-bottom: 20px;

  @include mq(mob-only) {
    font-size: 28px;
    line-height: 1.18;
  }
}

.customers__discription {
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 1.14;

  @include mq(tab) {
    line-height: 1.19;
  }
}

.customers__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  @include mq(tab) {
    gap: 32px;
  }

  @include mq(desk) {
    gap: 139px;
  }
}

.customers__item {
  display: block;

  padding: 8px;
  width: 280px;

  background-color: var(--white-bg-cl);

  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;

  @include mq(tab) {
    padding: 14px;
    width: 336px;
  }

  @include mq(desk) {
    width: 501px;
  }
}

.customers__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  width: 103px;
  height: 16px;

  margin-bottom: 28px;
}

.customers__icon {
  width: 18px;
  height: 16px;

  align-items: center;
  justify-content: center;
}

.customers__comments {
  margin-bottom: 40px;

  font-weight: 700;
  line-height: 1.19;

  @include mq(tab ){
    font-size: 18px;
    line-height: 1.17;
  }
}

.customers__data {
  display: flex;
  align-items: center;
  gap: 16px;
}

.customers__wrap {
  width: 94px;

  border-right: 1px solid #7eb101;
}

.customers__name {
  font-weight: 500;
  font-size: 14px;
}

.customers__status {
  font-size: 14px;
}