.subscribe {
  padding-top: 50px;

  &__wrapper {
    display: flex;
    @include mq(not-desk) {
      flex-direction: column;
    }
  }

  &__text-wrapper {
    @include mq(tab) {
      align-items: start;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include mq(tab) {
      font-size: 42px;
      text-align: start;
    }
  }

  &__text {
    margin-bottom: 24px;
    max-width: 656px;
  }

  &__form {
    position: relative;
  }

  &__input {
    width: 394px;
    margin-right: 32px;

    @include mq(mob-only) {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__input:focus {
    outline: transparent;
  }

  &__input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
  }

  &__input:valid {
    border-color: var(--border-bth-success);
  }

  &__input:invalid {
    border-color: var(--error-txt-cl);
  }

  &__input:placeholder-shown {
    border-color: var(--yellow-btn-bg-hover-cl);
  }

  &__input:not(:placeholder-shown):focus:invalid:required
  ~ .subscribe__input-massage {
  opacity: 1;
  }
 
  &__input-massage {
    position: absolute;
    top: 46px;
    left: 0;

    display: flex;
    align-items: center;
    gap: 4px;

    opacity: 0;
    font-size: 10px;
    line-height: 1.5;
    color: var(--error-txt-cl);

    transition: opacity 250ms linear;
  }

  &__btn {
    height: 42px;
    width: 106px;

    transition: background-color 300ms ease-in;

    &:is(:hover, :focus) {
      background-color: var(--yellow-btn-bg-hover-cl);
    }

    @include mq(mob-only) {
      display: block;
      margin-left: auto;
    }
  }

  &__picture {
    @include mq(not-desk) {
      order: -1;
    }

    @include mq(mob-only) {
      margin: 0 auto;
      margin-bottom: 17px;
    }

    @include mq(tab) {
      margin-bottom: 20px;
      margin-left: auto;
    }
  }

  &__img {
    @include mq(mob-only) {
      min-width: 161px;
    }

    @include mq(tab) {
      min-width: 281px;
    }

    @include mq(desk) {
      margin: 0 auto;
      min-width: 546px;
    }
  }
}